*.agp
*.bam
*.bam.bai
*.bed
*.fa
*.fa.fai
*.fq.gz
*.gff
*.gv
*.html
*.log
*.lrz
*.md
*.orig
*.png
*.sam
*.svg
*.tsv
*.xml
xml-patch-make/
!README.md
!pipeline.gv
!pipeline.gv.png
!pipeline.gv.png.svg
!tigmint-make.gv.png
__pycache__
.pytest_cache

# BWA
*.fa.amb
*.fa.ann
*.fa.bwt
*.fa.pac
*.fa.sa

# ARCS
*.scaffolds
